.box{
    background-color: red;
    width: 100px;
    height: 100px;
    animation:2s box linear 4s;
}
@keyframes box{
    0%{
        background-color: aqua;
    }
    25%{
        background-color: blueviolet;
    }
    50%{
        background-color: chartreuse;
    }
}